.titulo {
    background-color: rgb(233, 226, 19);
    flex-wrap:wrap;
    text-align: center;
    
}

.div_portada {
    display: flex;
    justify-content: center;
    
}

.portada{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 2000px;
    height: 500px;
}

.carrusel{
    display: flex;
    justify-content: space-evenly;

}

.titulo_dos{
    text-align: center;
    
}
