.titulo {
    background-color: blue;
    flex-wrap:wrap;

}

.div_portada {
    display: flex;
    justify-content: center;
    
}

.portada{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 2000px;
    height: 400px;
        
}